In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [5]:
df = pd.read_excel('datasets/MRO.xls')
#data = pd.read_csv('data.csv')
df

          Date  Value
0   2023-03-01   3.50
1   2023-02-01   3.00
2   2023-01-01   3.00
3   2022-12-01   2.50
4   2022-11-01   2.00
..         ...    ...
106 2014-05-01   0.25
107 2014-04-01   0.25
108 2014-03-01   0.25
109 2014-02-01   0.25
110 2014-01-01   0.25

[111 rows x 2 columns]

In [7]:
df.drop(0, 0, inplace=True)

/var/folders/y1/w89cf9v14zb9dn4l_yrgzfth0000gn/T/ipykernel_83367/2701482825.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(0, 0, inplace=True)

In [9]:
df = df.iloc[::-1,].reset_index(drop=True)
#data = data.iloc[::-1,].reset_index(drop=True)
df

          Date  Value
0   2014-01-01   0.25
1   2014-02-01   0.25
2   2014-03-01   0.25
3   2014-04-01   0.25
4   2014-05-01   0.25
..         ...    ...
105 2022-10-01   2.00
106 2022-11-01   2.00
107 2022-12-01   2.50
108 2023-01-01   3.00
109 2023-02-01   3.00

[110 rows x 2 columns]

In [13]:
df_rates = pd.read_excel('datasets/LoansRates_outstandings.xls', sheet_name='Sheet1')

In [11]:
df_cob = pd.read_excel('datasets/cob_movingaverage.xls')

In [12]:
df_volumes = pd.read_excel('datasets/business_volumes.xls', sheet_name= 'Sheet1')