In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [5]:
df = pd.read_excel('datasets/MRO.xls')
#data = pd.read_csv('data.csv')
df

          Date  Value
0   2023-03-01   3.50
1   2023-02-01   3.00
2   2023-01-01   3.00
3   2022-12-01   2.50
4   2022-11-01   2.00
..         ...    ...
106 2014-05-01   0.25
107 2014-04-01   0.25
108 2014-03-01   0.25
109 2014-02-01   0.25
110 2014-01-01   0.25

[111 rows x 2 columns]

In [7]:
df.drop(0, 0, inplace=True)

/var/folders/y1/w89cf9v14zb9dn4l_yrgzfth0000gn/T/ipykernel_83367/2701482825.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(0, 0, inplace=True)

In [26]:
df = df.iloc[::-1,].reset_index(drop=True)
#data = data.iloc[::-1,].reset_index(drop=True)
df.rename(columns={'Value' : 'MRO'}, inplace=True)
df

          Date   MRO
0   2014-01-01  0.25
1   2014-02-01  0.25
2   2014-03-01  0.25
3   2014-04-01  0.25
4   2014-05-01  0.25
..         ...   ...
105 2022-10-01  2.00
106 2022-11-01  2.00
107 2022-12-01  2.50
108 2023-01-01  3.00
109 2023-02-01  3.00

[110 rows x 2 columns]

In [20]:
df_rates = pd.read_excel('datasets/LoansRates_outstandings.xls', sheet_name='Sheet1')
df_rates = df_rates.iloc[::-1,].reset_index(drop=True)
df_rates

,Date,"Rates to corporations, up to 1 year","Rates to corporations, over 1 year","Rates for house purchases, up to 1 year","Rates for house purchases, over 1 year","Rates for consumptions and others, up to 1 year","Rates for consumptions, over 1 year"
0,2014-01-01,3.69,3.17,3.31,3.29,7.62,5.01
1,2014-02-01,3.66,3.21,3.30,3.35,7.67,5.09
2,2014-03-01,3.64,3.18,3.30,3.32,7.64,5.01
3,2014-04-01,3.65,3.18,3.37,3.30,7.55,5.03
4,2014-05-01,3.60,3.17,3.33,3.28,7.54,5.01
...,...,...,...,...,...,...,...
105,2022-10-01,2.48,2.11,2.39,1.78,6.01,4.05
106,2022-11-01,2.86,2.24,2.56,1.84,6.08,4.12
107,2022-12-01,3.19,2.45,2.78,1.90,6.27,4.20
108,2023-01-01,3.52,2.64,3.14,1.97,6.64,4.31
109,2023-02-01,3.81,2.75,3.30,2.04,6.83,4.39

In [21]:
df_cob = pd.read_excel('datasets/cob_movingaverage.xls', sheet_name='Sheet1')
df_cob = df_cob.iloc[::-1,].reset_index(drop=True)
df_cob

          Date  Cob, up to 1 year  Cob, over 1 year
0   2014-01-01               2.95              3.22
1   2014-02-01               2.95              3.18
2   2014-03-01               2.97              3.16
3   2014-04-01               2.96              3.13
4   2014-05-01               2.90              3.06
..         ...                ...               ...
105 2022-10-01               2.64              2.85
106 2022-11-01               3.03              3.09
107 2022-12-01               3.39              3.12
108 2023-01-01               3.62              3.28
109 2023-02-01               3.83              3.45

[110 rows x 3 columns]

In [43]:
df_volumes = pd.read_excel('datasets/business_volumes.xls', sheet_name= 'Sheet1')
df_volumes = df_volumes.iloc[::-1,].reset_index(drop=True)
df_volumes

,Date,"Loans to Corporations, up to 1 year","Loans to corporations, over 1 year","Lending for house purchases, up to 1 year","Lending for house purchases, over 1 year","Loans for households consumptions, up to 1 year","Loans for households consumptions, over 1 year"
0,2014-01-01,177949.29,19438.21,12198.65,29437.53,2688.41,12021.54
1,2014-02-01,148452.00,17323.36,11580.23,27872.59,2377.54,12072.53
2,2014-03-01,170872.68,19085.67,12564.71,29067.69,2650.09,13465.63
3,2014-04-01,179919.58,19175.85,12458.21,31706.92,2557.98,14040.44
4,2014-05-01,154976.81,17085.80,12170.53,29756.39,2423.85,13575.69
...,...,...,...,...,...,...,...
105,2022-10-01,208734.15,39651.81,15407.72,49625.11,2282.48,20752.05
106,2022-11-01,187094.69,40095.41,15014.26,47826.43,2523.02,20617.61
107,2022-12-01,241598.45,53185.29,16915.77,49595.93,2459.33,18338.43
108,2023-01-01,190377.60,34247.25,13766.24,41346.65,2229.17,20283.05
109,2023-02-01,185342.68,31699.79,12458.96,39608.99,2151.98,20068.70

In [44]:
data = pd.concat([df, df_cob.iloc[:, 1:], df_rates.iloc[:, 1:], df_volumes.iloc[:, 1:]], axis=1)

# data for volumes in million of euros
# MRO, Cob, and rates are all in percentages

,Date,MRO,"Cob, up to 1 year","Cob, over 1 year","Rates to corporations, up to 1 year","Rates to corporations, over 1 year","Rates for house purchases, up to 1 year","Rates for house purchases, over 1 year","Rates for consumptions and others, up to 1 year","Rates for consumptions, over 1 year","Loans to Corporations, up to 1 year","Loans to corporations, over 1 year","Lending for house purchases, up to 1 year","Lending for house purchases, over 1 year","Loans for households consumptions, up to 1 year","Loans for households consumptions, over 1 year"
0,2014-01-01,0.25,2.95,3.22,3.69,3.17,3.31,3.29,7.62,5.01,177949.29,19438.21,12198.65,29437.53,2688.41,12021.54
1,2014-02-01,0.25,2.95,3.18,3.66,3.21,3.30,3.35,7.67,5.09,148452.00,17323.36,11580.23,27872.59,2377.54,12072.53
2,2014-03-01,0.25,2.97,3.16,3.64,3.18,3.30,3.32,7.64,5.01,170872.68,19085.67,12564.71,29067.69,2650.09,13465.63
3,2014-04-01,0.25,2.96,3.13,3.65,3.18,3.37,3.30,7.55,5.03,179919.58,19175.85,12458.21,31706.92,2557.98,14040.44
4,2014-05-01,0.25,2.90,3.06,3.60,3.17,3.33,3.28,7.54,5.01,154976.81,17085.80,12170.53,29756.39,2423.85,13575.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2022-10-01,2.00,2.64,2.85,2.48,2.11,2.39,1.78,6.01,4.05,208734.15,39651.81,15407.72,49625.11,2282.48,20752.05
106,2022-11-01,2.00,3.03,3.09,2.86,2.24,2.56,1.84,6.08,4.12,187094.69,40095.41,15014.26,47826.43,2523.02,20617.61
107,2022-12-01,2.50,3.39,3.12,3.19,2.45,2.78,1.90,6.27,4.20,241598.45,53185.29,16915.77,49595.93,2459.33,18338.43
108,2023-01-01,3.00,3.62,3.28,3.52,2.64,3.14,1.97,6.64,4.31,190377.60,34247.25,13766.24,41346.65,2229.17,20283.05
109,2023-02-01,3.00,3.83,3.45,3.81,2.75,3.30,2.04,6.83,4.39,185342.68,31699.79,12458.96,39608.99,2151.98,20068.70